.colectiva {
  text-align: center;
  color: white;
  padding: 3px 10px;
  border: paleturquoise 5px solid;
  border-radius: 20px;
  font-size: xx-large
}

.fondoaside {
  width: 21vw;
  background-image: url(../imagenes/fondojauria.jpg);
  height: 100vh;
  display: inline-block;
  float: none
}

.bienvenida {
  text-align: left;
  color: white;
  padding: 3px 10px;
  font-size: large
}

.lista {
  color: white;
  font-size: large
}


.fondo {
  background-image: url(../imagenes/fondo.jpg);
  width: 100vw;
  height: 100vh;
  display: flex
}

.avatares {
  display: flex;
  padding: 10px;
  justify-content: space-between

} 

.avatar {
  cursor: pointer;
  height: 200px;
  width: 200px;
  background-image: url(../imagenes/fondojauria.jpg);
  padding: 70px;
  margin: 20px

}

.avatar1 {
  cursor: pointer;
  height: 200px;
  width: 200px;
  background-image: url(../imagenes/fondojauria.jpg);
  padding: 70px;
  margin: 20px
}

.avatar2 {
  cursor: pointer;
  height: 200px;
  width: 200px;
  justify-content: center;
  background-image: url(../imagenes/fondojauria.jpg);
  padding: 70px;
  margin: 20px

}

.nombres {
  text-align: center;
  color: white
}

.botoncodificar {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;

}


.botondescodificar {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;

}

.botonenviar {
  text-decoration: none;
  padding: 10px;
  font-weight: 600;
  font-size: 20px;
  color: #ffffff;
  background-color: #1883ba;
  border-radius: 6px;
  border: 2px solid #0016b0;

}

.avatar3 {
  cursor: pointer;
  height: 200px;
  width: 200px;
  background-image: url(../imagenes/fondojauria.jpg);
  padding: 70px;
  position: absolute;
  left: 8%;
  top: 120%
}

ventana {
  display: none
}

pantalla {
  display: block
}
.escrib {
 position: absolute;
 left: 40%;
 top: 110%
} 

.lista {
 line-height: 30px
} 

.tex {
  color: white
}

.tex1 {
  color: white
}

